<h3>Add Raffle Member</h3>
<div class="content" ng-app="raffleModule">
  <div ng-controller="RafflerController">
    <form class="form-horizontal" ng-submit="addEntry()">
      <div class="col-sm-10">
        <div class="form-group form-group-lg">
          <input class="form-control input-lg col-sm-12" type="text" ng-model="newEntry.name" placeholder="Type name to enter" required="required">
        </div>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-lg btn-primary" type="submit">Add</button>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-12">
        <h3>Member List</h3>
      </div>
    </div>
    <div class="sub-content">
      <div class="row" ng-repeat="entry in entries">
        <div class="col-lg-6">{{entry.name}}</div>
        <div class="col-lg-6" ng-show="entry.winner">
          <span ng-class="{ highlight: entry == lastWinner}" class="winner">Winner</span>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-lg-12">
        <button ng-click="drawWinner()" class="btn btn-lg btn-primary">Winner</button>
      </div>
    </div>
    <div class="row" ng-show="allWinner">
      <div class="col-lg-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          There are no more non-winner member left!
        </div>
      </div>
    </div>
  </div>  
</div>  