.sub-content {
  .winner {
    color: gray;
    font-style: italic;
  }
  .highlight {
    color: red;
    font-weight: bold;
    font-style: normal;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f5f5f5;
  height: 60px;
  .container{
    padding: 8px 0px;
  }
}